<!DOCTYPE HTML>

<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="portfolio" class="logo"><strong>Dashboard</strong></a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Market Stats</h1>
									</header>

									<span class="image main"><a href="https://www.nseindia.com/"><img src="https://incomemachine.co/wp-content/uploads/2021/07/stockmarket2-1038x576.jpg" alt="" /></a></span>
									<p><a href="https://www.nseindia.com/">Click here</a> to view live stats</p>
									
									<hr class="major" />
									<h3>You holdings</h3>
									<%if((stock=JSON.stringify(stock)) != null){%>
										<table class="styled-table">
											<thead>
												<tr>
													<th>Asset</th>
													<th>Shares</th>
													<th>Value</th>
													
												</tr>
										</thead>
										
										<tbody>
											<%for(let i=1;i< Object.keys(JSON.parse(stock)).length-1;i++){%>
												<% if( JSON.parse(stock)[Object.keys(JSON.parse(stock))[i]] ){%>
												<tr>
													<th><%=Object.keys(JSON.parse(stock))[i]%></th>
													<th><%=JSON.parse(stock)[Object.keys(JSON.parse(stock))[i]]%></th>
													<th>$<%=(JSON.parse(stock)[Object.keys(JSON.parse(stock))[i]]) * (Math.floor(Math.random() * 100) + 1)%></th>
													
												</tr>	<%}%>
											<%}%>
										</tbody>
									<%}else{%>
										<p>You do not have any holdings yet!</p>
									<%}%>
									<!--<table class="styled-table">
										<thead>
											<tr>
												<th>Asset</th>
												<th>Shares</th>
												<th>Value</th>
												
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>TESLA INC</td>
												<td>132.25</td>
												<td>$87,801.833</td>
												
											</tr>
											<tr class="active-row">
												<td>NIFTY-BANK</td>
												<td>25</td>
												<td>$24,645.8785625</td>
												
											</tr>
											<tr class="active-row">
												<td>Amazon.com Inc.</td>
												<td>12.5</td>
												<td>26,897.8515625</td>
												
											</tr>
										</tbody>-->
									</table>
								</section>
								<h3>Click below trade now</h3>
								<div class="trade">
									<ul class="actions">
										<li><a href="trade" class="button big">TRADE NOW</a></li>
									</ul>
								</div>
						</div>
					</div>
					<div class="trade"></div>
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Explore market</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/portfolio">Portfolio</a></li>
										<li><a href="/trade">Trade</a></li>
										
										<li>
											<span class="opener">About us</span>
											<ul>
												<li><a href="#">Our research</a></li>
												<li><a href="#">The team</a></li>
											</ul>
										</li>
											<li><a href="#">Github</a></li>
									</ul>
								</nav>

						
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Team: Mohammed Faisal, Mohammed Adnan, Hemanth kumar<br>
										
									</p>
									<ul class="contact">
										<li class="icon solid fa-phone">+91 9353xxxxx, +91 , 80XXXXX</li>
										<li class="icon solid fa-home">DAYANANDA SAGAR COLLEGE OF ENGINEERING, SHAVIGE MALLESHWARA HILLS, KUMARSWAMY LAYOUT, BANGALORE - 560 111</li>
									</ul>
								</section>
							
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>